@import './variables.scss';

.add-post-button{
    background-color: $baseBlue;
    color: $baseWhite;
    border-radius: 90%;
    padding: 20px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
