@import './variables.scss';

.posts-page{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    .header{
        min-height: 75px;
        line-height: 75px;
        margin: 0px;                
        color: white;
        background-color: $baseBlue;//#DDBA3E;
        text-align: center;
        width: 100%;
        .h2{
            color: $baseWhite;//#f7f7f7;
        }
    }
    @import './posts.scss';
}